[submodule "external/cmd_line_parser"]
	path = external/cmd_line_parser
	url = https://github.com/rurban/cmd_line_parser.git
        branch = help2man
[submodule "external/mm_file"]
	path = external/mm_file
	url = https://github.com/jermp/mm_file.git
[submodule "external/bits"]
	path = external/bits
	url = https://github.com/rurban/bits.git
        branch = named-visit
